<html>
    <body>
      <h2>Texnopark</h2>
      <span class="paid">
        TEXNOPARK
      </span>
      <table>
        <tbody>
            <tr class="row">
              <td>factory</td>
              <td class="num">{{ region }}</td>
            </tr>
            <tr class="row">
              <td>address</td>
              <td class="num">{{ address }}</td>
            </tr>
            <tr class="row">
              <td>factory</td>
              <td class="num">{{ factory }}</td>
            </tr>
        </tbody>  
      </table> 
      <div style="display: flex; justify-content: space-between;">
        <img src="data:image/png;charset=utf-8;base64, {{ image }}" alt="Rasm mavjud emas" />
        <img class="sign" src="data:image/png;charset=utf-8;base64, {{ sign }}" alt="Rasm mavjud emas" />
      </div>
    </body>
</html>